      /* Set HTML and Body to cover the entire screen */
        html, body {
            color:green;
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden; /* Hide scrollbars */
        }	
.op{
    margin-top: 45px;
    margin-left: 60px;
    z-index: -10;
}

.c{
    margin-left:40px;
    margin-top: 50px;
}

.title{
    background-color:#333333;
    width: 700px;
    height: 30px;           
}
.close3{
    margin-left: 380px;

    
}
.close3:hover{
    background-color: red;
}
input{
    background:transparent;
    color: green;
    border:transparent; 
    font-size: 13px;
}
span{
    color:black ;
    margin-left: 5px;
    width: 50px;
    font-style: all;
}
.m{
    margin-top: 4px;
   margin-left: 15px;
}
.B1{
    background-color:black;
    color: green;
    top: 10;
    right: 50px;
    cursor: pointer;
    position: absolute;
    border-color: green;
}
.wina{
    display:none;
    
    

}
.win{
    border-radius: 10px;
    width: 97%;
    height: 97%;
    background-color:#231d1d;
    position: absolute;
    margin-top: 10px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.winc{
    width: 990px;
    height:550px;

   

}
.close{
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    color: white;
}
.close:hover{
     color:red;
}

.home{
   border-radius: 10px;
    width: 90%;
    height: 580px;
    margin-top: 10px;
    margin-left: 70px; 
    z-index: -1;
    overflow-x: auto;
    overflow-y:scroll;
}

.cmd-input{
    border: none;
    outline: none;
     background-color:black;
     color:green;
}

.cmd{
    background-color:black;
    color:green;
     height: 400px;
     position: absolute;
     top: 50%; /* Center the CMD section vertically */
     left: 50%; /* Center the CMD section horizontally */
     transform: translate(-50%, -50%); /* Centering trick */
     /* Add other styling properties as needed */
     /* ... */
     display: none;
     padding-left:10px;

}


.user-input{
      color:white;}


        /* Style for the context menu */
        .context-menu {
            position: absolute;
            display: none;
            background-color: #333;
            color: white;
            padding: 5px;
            border-radius: 5px;
            z-index: 9999;
            text-decoration:none;
        }